body {
  height: 100vh;
  width: 100%;
  background: rgb(202, 193, 193);
}

#root {
  height: 100%;
  width: 100%;
}

input:focus, select:focus {
  outline:none;
}



@media only screen and (min-width:720px) {
  .home-wrapper {
    background-image: url("./assets/bhu-eats.jpg");
    background-position: static;
    background-size: cover;
    background-repeat: no-repeat;
  }
}